@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

body {
  font-family: 'Oswald', sans-serif;
}

button {
  font-family: 'Oswald', sans-serif;
  padding: 5px;
}
header {
  display: flex;
  background-color: #224a59;
  font-size: 600;
  font-size: 20px;
  color: #f5f5f5;
  padding: 15px;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}

main {
  display: grid;
  grid-template-columns: 100%;
}
nav {
  align-self: flex-end;
}
nav a {
  text-decoration: none;
  margin: 10px;
  color: #edb949;
}

nav a:hover {
  color: #be943a;
}
input {
  font-family: 'Teko', sans-serif;
}
.sign-up-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1;
  width: 100%;
  height: 100vh;
  min-height: 0;
}

.bg-library {
  background: url('./bg-library.jpg') no-repeat;
  background-size: 100% auto;
  background-color: #84d2e5;
  grid-column-start: 1;
  grid-column-end: 2;
  color: #84d2e5;
}
.sign-up-form {
  display: grid;
  width: 100%;
  background: #1c3b4d;
  font-size: 26px;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 30px 20%;
}

.sign-up-form h1 {
  font-size: 38px;
  align-self: center;
  font-weight: 800;
}
.sign-up-form form {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.sign-up-form form input {
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  background: #eaedef;
}
.sign-up-form form button {
  color: #1c3b4d;
  margin-top: 30px;
  border-radius: 5px;
  background: #95c1cb;
  font-weight: 700;
  padding: 10px;
}
.sign-up-form form button:hover {
  background: #5f868e;
}
.sign-up-form .login-create {
  font-size: 24px;
  margin-top: 25px;
}
.sign-up-form .login-create a {
  text-decoration: none;
  color: #edb949;
}
.sign-up-form .login-create a:hover {
  text-decoration: none;
  color: #be943a;
}
.error {
  color: red;
  font-size: 18px;
}
.sign-up-complete-bg {
  display: flex;
  background: #95c1cb;
  background-size: 100% auto;
  justify-content: center;
  height: 100vh;
}
.sign-up-complete {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 40%;
  margin-top: 200px;
  font-size: 28px;
  background: #fbb32e;
  border-radius: 35px;
  line-height: 2;
}
.sign-up-complete h2 {
  margin: 30px 0;
  font-size: 42px;
}
.sign-up-complete a {
  color: #fff;
  text-decoration: none;
}
.sign-up-complete a:hover {
  color: grey;
}
.books-container {
  display: flex;
  flex-direction: column;
  font-family: 'Teko', sans-serif;
  color: #fdf7f0;
  font-size: 22px;
  font-weight: 500;
  overflow: auto;
}
.books-container header {
  display: flex;
  flex-direction: column;
  background-color: #224a59;
  color: #f1f1f1;
  font-family: 'Teko', sans-serif;
  margin: 50px 60px;
  font-size: 26px;
  /* padding: 30px 60px 40px; */
  border-bottom: none;
}
.bg-books h2 {
  color: #fdf7f0;
  font-size: 64px;
  font-weight: 700;
}
.bg-books {
  background: #224a59;
  height: 100vh;
}
.searchContainer {
  /* background-color: #37808c; */
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 700;
  padding: 10px 0 40px 70px;
}
.searchContainer input {
  color: #f2f2f2;
  width: 90%;
  background: #224a59;
  border-bottom: 1px solid #fdf7f0;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 24px;
}
.searchContainer button.addBook {
  font-size: 22px;
  width: 150px;
  margin-bottom: 20px;
}

.searchContainer input::placeholder {
  color: #fdf7f0;
  opacity: 0.6;
}
.books-list-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 10px 0 0 70px;
}
.book-item {
  height: 200px;
  margin: 30px;
}
.book-item h3 {
  color: #f2f2f2;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 5px;
}
/* .book {
  color: #558c46;
  width: 180px;
  height: 220px;
  background: #fdf7f0;
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
  border: 1px solid #f2f2f2;
} */
.book {
  display: flex;
  margin-top: 30px;
}
.card {
  height: 200px;
  width: 180px;
  position: relative;
  box-shadow: 1px 1pc 10px #0a303d;
  text-align: center;
  background: linear-gradient(-20deg, #4e6873 40%, #e7e3de 10%);
  color: #4e6873;
  border-radius: 3px;
  padding-top: 20px;
}
.form-background {
  display: flex;
  background: #224a59;
  height: 100vh;
  color: #f2f2f2;
}
.add-form {
  width: 600px;
  margin: 100px auto 300px auto;
  font-size: 24px;
}
.add-form h2 {
  font-size: 32px;
}
.add-form form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.add-form form input {
  background: #224a59;
  border-bottom: 1px solid #fdf7f0;
  border-radius: 5px;
  font-size: 24px;
  margin: 20px 0;
  color: #fff;
}
.add-form form input::placeholder {
  color: #f2f2f2;
  opacity: 0.6;
}
.add-button {
  width: 120px;
  margin-left: 80px;
}
button.add-button:hover {
  background: #dfdbd7;
}
.list-item {
  margin-left: 80px;
  margin-top: 20px;
  border-top: 1px solid white;
}
.list-item ul li {
  text-decoration: none;
  font-size: 28px;
}
@media only screen and (max-width: 960px) {
  .sign-up-form {
    font-size: 20px;
  }
  .sign-up-form h1 {
    font-size: 28px;
  }
  .sign-up-form .login-create {
    font-size: 18px;
    margin-top: 25px;
  }
  .sign-up-complete {
    width: 70%;
    height: 30%;
  }
}

@media only screen and (max-width: 706px) {
  .sign-up-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 750px 1100px;
  }
  .sign-up-form {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .sign-up-form h1 {
    font-size: 28px;
  }
  .sign-up-form .login-create {
    font-size: 18px;
    margin-top: 25px;
  }
  .bg-library {
    background: url('./bg-library.jpg') no-repeat;
    background-size: 100% auto;
    background-color: #84d2e5;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #84d2e5;
  }
  .sign-up-complete {
    font-size: 24px;
    width: 80%;
    height: 30%;
  }
  .sign-up-complete h2 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 515px) {
  header {
    font-size: 22px;
  }
  .sign-up-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 600px 1100px;
  }
  .sign-up-complete {
    font-size: 22px;
    width: 80%;
    height: 30%;
    padding: 5px 30px;
  }
  .sign-up-complete h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 450px) {
  header {
    font-size: 18px;
  }
  .sign-up-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 500px 1000px;
  }
  .sign-up-form {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1920px) {
  .sign-up-complete {
    width: 600px;
    height: 480px;
  }
}
